#avatar{
  position: absolute;
  left : 1000px;
  top : 100px;

}

#acceuil{
  text-align: center;
  margin-top: 300px;
}



.centrer{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

header{
}

html{
}

body{
}

footer{
}

.container{
}

h1{
  color : #0770FF;
}
h2{
  color : #0770FF;
}
h3{
  color : #0770FF;
}

nav{
  background-color : #0770FF;
}




