#avatar{
  position: absolute;
  left : 1000px;
  top : 100px;

}

#acceuil{
  text-align: center;
  margin-top: 300px;
  animation: bounce; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s;
}



.centrer{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

header{
}

html{
}

body{
}

footer{
}

.container{
}

h1{
  color : #0770FF;
}
h2{
  color : #0770FF;
}
h3{
  color : #0770FF;
}

nav{
  background-color : #0770FF;
}

#organigramme{
  margin-left: 200px;
}

#banniere{
  margin-top: 20px;
  margin-bottom: 100px;
}




